




/* logos style */
.logo-colour{
    color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
}
.header{
    background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
}
/* navbar section */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 109px 191px; 
    padding-top: 50px;
    padding-bottom: 50px;
}
.nav-title{
    font-weight: 800;
    font-size: 40px;
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
}
.banner{
    text-align: center;
}
.banner-button{
}
.banner-main{
    font-weight: bold;
    font-size: 80px;
    padding-top: 158px;
    /* font-style: italic; */
    margin: 0 117px 115px 85px;
}
.banner-button{
    margin-top: 10px;
    font-weight: 174px;
}
/* action part */
.action{
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    border-width: 1140px;
}
.action-title{
    font-size: 4em;
    font-weight: bold;
}
.action-description{
    font-size: 2em;
}
.action-img{
    border-radius: 48px;
}
/* main styles */
main{
    max-width: 1140px;
    border: 127px solid white;
    margin: 10px auto;
    
}
.All-productive{
    display: flex;
    justify-content: space-between;
    margin: 0 142px;
    color: #4E47FF;
    font-size: 30px;
}
.productive-sec{
    font-size: 38px;
    font-weight: 856;
    color: #252432;
    border: 0 auto;
    text-align: center;
}
.productive-description{
    font-size: 200px;
    color: #4E47FF;
    font-weight: 856;
    height: 121px;
    gap: 158;
    
}
.productive-subtitile{
    height: auto;
    font-size: 20px;
    margin: 0 142px;
    display: flex;
    justify-content: space-between;
}
.bg-styles{
    background-color: #bebcfc;
    border-radius: 20px;
}
.form-oparation{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    gap: 80px;
    margin-top: 50px;
    border-radius: 10px;
    border: 1px solid brown;

}
.form-title{
    margin: 100px 150px;
    font-size: 50px;
}
.form-list{
    width: 50%;
    margin: 71px 0;
}
textarea{
    height: 50px;
    width: 400px;
    border-radius: 5px;
    border: 0 solid black;
    display: block;
}
button:hover{
    background-color: yellowgreen;
    font-size: 21px;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55)
}
/* footer styles */
.final-logo{
    color: #4E47FF;
    font-size: 80px;
    width: 291px;
    height: 121px;
    margin: auto 480px;
    
}
.logo-para{
    color: rgb(32, 29, 29);
    margin: 8px 300px 10px 300px;
    font-size: 1.2em;
}
.logo-links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 400px;
    margin-right: 400px;
}
ul li a{
    text-decoration: none;
    color:rgb(32, 29, 29);
}